@charset "utf-8";
/* CSS Document */
/*技术支持:武汉矩阵科技-www.juzhen.com*/
/*公司地址:武汉市江汉区青年路308号花园道写字楼5楼*/
/*客户服务电话:027-83557163 83557165*/
@media all{
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,select,input,textarea,button,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table, caption,tbody,tfoot,thead,tr,th,td,article, aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0; padding:0; border:0; vertical-align:baseline;list-style-type:none;}
.clearfix:after {clear: both; content: "Matrix"; display: block; font-size: 0; height: 0; visibility: hidden; }
*html .clearfix { height: 1%; }
*+html .clearfix { height: 1%; }
.clearfix { display: inline-block; }
.clearfix { display: block; }
.clearfix { zoom: 1 }
html>body .clearfix { overflow: hidden; }
.floatbox { overflow: hidden; }
* html .floatbox { display: table; width: 100%; }
#ie_clearing { display: none; }
html * { font-size: 100.01%; }
* { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
* html body * { overflow: visible; }
html { overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
div:target { outline: 0 none; }
select, input, label { vertical-align: middle; }
input,button,select,textarea{ outline:none;} 
textarea{ resize:none; } 
blockquote, q {quotes:none; }
blockquote:before,blockquote:after,q:before,q:after{content:'';}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }
audio, canvas, video {display: inline-block; }
[hidden] {display:none;}
input[type="search"] {-webkit-appearance:textfield; }
input[type="search"]::-webkit-search-decoration {-webkit-appearance:none;}
p{line-height:1.5em; }
a{color:#777; text-decoration:none; background:transparent; outline:none; behavior:url("hscfsy.htc")/*tpa=http://www.kaipan01.cn/scripts/base/hscfsy.htc*/; }
a:hover, a:focus{text-decoration:none;}
a:focus{outline:none; }
a:hover,a:active{outline:none;text-decoration:none; }
img, figure {margin:0;}
.box > *:first-child { margin-top: 0; }
label{font-family: Tahoma, Geneva, sans-serif; }
.opacity { -moz-opacity: 0.65; filter: alpha(opacity=65); opacity: 0.65; }
.empty_div{ height: 0px; overflow: hidden; }
.f12{font-size:12px;}
.f14{font-size:14px;}
.f16{font-size:16px;}
.f18{font-size:18px;}
.f22{font-size:22px;}
.fb{font-weight:bold;}
.yahei{font-family:"\5FAE\8F6F\96C5\9ED1", "Microsoft Yahei", sans-serif; }
.heiti{font-family:"\9ED1\4F53"; }
.red{color:#e50020;}
.green{color:#060;}
.white{color:#fff;}
.black{color:#000;}
.blue{color:#1B87CB;}
.orange{color:#e76d27;}
.redBg{background-color:#cc3131;}
.whiteBg{background-color:#fff;}
.greenBg{background-color:#1ca826;}
.blueBg{background-color:#2194d0;}
.cyanBg{background-color:#248d4e;}
.purpleBg{background-color:#b31cae;}
.orangeBg{background-color:#e76d27;}
.clear{clear:both; height:0; display:block; overflow:hidden; }
.blank5{height:5px; clear:both; display:block; overflow:hidden;}
.blank10{height:10px; clear:both; display:block; overflow:hidden;}
.blank15{height:15px; clear:both; display:block; overflow:hidden;}
.blank20{height:20px; clear:both; display:block; overflow:hidden;}
.blank30{height:30px; clear:both; display:block; overflow:hidden;}
.blank40{height:40px; clear:both; display:block; overflow:hidden;}
.blank60{height:60px; clear:both; display:block; overflow:hidden;}
.w135{width:135px; margin:0 auto;}
.w200{width:200px; margin:0 auto;}
.w240{width:240px; margin:0 auto;}
.w350{width:350px; margin:0 auto;}
.w760{width:760px; margin:0 auto;}
.w900{width:900px; margin:0 auto;}
.w980{width:980px; margin:0 auto;}
.mt10{margin-top:10px;}
.mt20{margin-top:20px;}
.ml20{margin-left:20px;}
.border{border:#ccc 1px solid;}
.round{border:#ddd 1px solid; border-radius:4px;}
.solid_line{margin:1px 0; height:1px; line-height:1px; border-bottom:1px #ccc solid; }
.dashed_line{margin:1px 0; height:1px; line-height:1px; border-bottom:1px #ccc dashed; }
.relative{position:relative; }
.absolute{position:absolute; }
.left{display:inline; float:left; }
.right{display:inline; float:right; }
.none{display:none; }
.block{display:block; }
.hidden{visibility:hidden; }
.upp{text-transform:uppercase; }
.mAuto{margin:0 auto; }
.maxWid1000 { max-width:1000px;_width:expression((document.documentElement.clientWidth||document.body.clientWidth)<1000?"1000px":"");overflow:hidden; }
.minWid1000 { min-width:1000px;_width:expression((document.documentElement.clientWidth||document.body.clientWidth)>1000?"1000px":""); }
.tl{text-align:left;}
.tc{text-align:center;}
.tr{text-align:right;}
.inline{display:inline;}

}